<nav class="navbar">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="assets/pngegg.png" alt="CV Logo">
      </a>
      <ul class="navbar-nav">
          <a class="nav-link" routerLink="/home">Home</a>
      </ul>
      <ul class="navbar-nav">
          <a class="nav-link" routerLink="/main">Create</a>
      </ul>
      <ul class="navbar-nav">
          <a class="nav-link" routerLink="/">About</a>
      </ul>
      <div class="auth-buttons">
        <a class="nav-button login-button" routerLink="/login">Login</a>
        <a class="nav-button register-button" routerLink="/signup">Register</a>
      </div>
    </div>
  </nav>
  