<!DOCTYPE html><html lang="en"><head>
    <meta charset="utf-8">
   <title>CV Builder</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free CV Builder. Create you own CV or resume and download in pdf absolutely free of cost.">
    <meta name="keywords" content="cv maker , cv builder , free cv builder, free cv, free resume maker, free resume creator, free resume , free cv, free cv in pdf">
    <meta name="author" content="DabSeaLucifer">
    <meta name="google-site-verification" content="TZvzximXOO43jEFIVGoc5fb7EYmU4gzCpSNx342aWR4">
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <style>body{background-color:#f5f5f5}</style><link rel="stylesheet" href="../static/styles.e9f90c405bd7d114.css" media="print" onload="this.media='all'"><noscript><link rel="stylesheet" href="../static/styles.e9f90c405bd7d114.css"></noscript></head>
  <body>
    <app-root></app-root>
  <script src="../static/runtime.1eee1f7200dfe592.js" type="module"></script><script src="../static/polyfills.584ec677a588846d.js" type="module"></script><script src="../static/main.2e42e1518127d1a3.js" type="module"></script>

</body></html>